*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

/* Header styling
================================== */

.header-wrapper {
  display: flex;
 justify-content: space-between;
 align-items: center;
 width: 96%;
 margin: 0 auto;
 padding-top: 10px;
 font-size: 1rem;
 font-weight: 400;
  line-height: 1.4;
 letter-spacing: -.02rem
}

a {
  text-decoration: none;
  color: black;
}

.search_box > input{
  flex-grow: 2;
  border: 1px solid white;
  width: 95%;
  height: 30px;
  margin-right:15px;
  border-radius: 30px; 
  outline:none;
 
}

.search-button {
  width: 20px;
  height: 20px;
 padding-left: 10px;
}

.search_box {
  flex-grow: 2;
  margin-bottom: 1%;
  display: flex;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 40px;
}

.cart > img {
  width: 30px;
  height: 20px;
}

.login-link {
  background: white;
  border: 1px solid black;
  width: 90px;
  margin: 10px auto;
  font-weight: bold;
  font-size: 0.8rem;
}

.signup-link {
  background: black;
  border: 1px solid black;
  width: 90px;
  margin: 10px 3px;
  font-weight: bold;
  font-size: 0.8rem;
}

.map1-img {
  background: white;
  border: 1px solid black;
  margin: 10px 3px;
}

.map1-img > img{
  width: 20px;
  height: 20px;
}

/* styling for the hero section */

.hero-section {
  background-image: url(images/hero-img.JPG);
  height: 90vh;
  width: 100%;
}

.hero_img { 
  height: 60vh;
  width: 100%;
}

.container1 {
  height: 60vh;
  width: 100%;
}

.container2 {
  background-color: white;
  position: absolute;
  top: 20vh;
  left: 10vh;
  width: 430px;
  height: 140px;
  font-size: 1.2rem;
  line-height: 1.25;
  padding: 20px;
}

h1 {
  font-weight: 700;
  letter-spacing: -.05rem;
}

.container3 {
  width: 30vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  padding-top: 45px;
  font-size: 1.4rem;
  line-height: 1.8;
}

.list-courses {
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  font-weight: bolder;
  width: 62%;
  font-size: 1.1rem;
}

/* Business section  styling */

.business2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 60vh;
  margin-left: 30vh;
  margin-top: 10vh;
 white-space: 3rem;
}

.business-text2 {
  width: 45%;
  font-size: 1.4rem;
  margin: 15vh;
  line-height: 2rem;
}

.business-header2 {
  margin-bottom: 20px;
}

.business-learn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.busines-link {
  width: 30vh;
  height: 2.8rem;
  border: 1px solid black;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: black;
  padding: 7px 10px;
  margin-top: 20px;
}

.link-b { 
  color: white;
}

.learn-link {
  width: 30vh;
  height: 2.8rem;
  border: 1px solid black;
  color: black;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: white;
  padding: 7px 10px;
  margin-top: 20px;
}

.link-b2 {
color: black;
}


/* instructor section  styling */

.instructor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 90vh;
  margin-left: 30vh;
  margin-top: 10vh;
 white-space: 3rem;
}

.instructor-text {
  width: 45%;
  font-size: 1.4rem;
  margin: 15vh;
  line-height: 2rem;
}

.instructor-header {
  margin-bottom: 20px;
}

.business-lists {
  list-style: disc;
}

.teaching-link {
  width: 30vh;
  height: 2.8rem;
  border: 1px solid black;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: black;
  padding: 7px 10px;
  margin-top: 20px;
}

.link-t {
  
  color: white;
}

/* footer section  styling */

.footer-container {
  width: 100%%;
  height: 45vh;
  background-color: black;
  
}

.list-footer  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 30vh;
  font-size: 1rem;
  color: white;
  padding: 40px;
  padding-bottom: 0px;
  m
  
}

ul{
  list-style: none;
  line-height: 1.5rem;
}

.footer-container a:hover,
.footer-container ul li:hover {
  text-decoration: underline;
}

.map2 {
  width: 30px;
  height: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.map-english {
  display: flex;
  flex-direction: row;
  border:  1px solid white;
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-left: 150px;
  
}

.udemy-inc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  font-size: 1.1rem;
  padding: 40px;
  color: white;
  background-color: black;

}


