*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
}

/* Header styling
================================== */

.header-wrapper {
  display: flex;
 justify-content: space-between;
 align-items: center;
 width: 96%;
 margin: 0 auto;
 padding-top: 10px;
 font-size: 1rem;
 font-weight: 400;
  line-height: 1.4;
 letter-spacing: -.02rem
}

a {
  text-decoration: none;
  text-decoration-color: none;
  
}

.search_box > input{
  flex-grow: 2;
  border: 1px solid white;
  width: 40vh;
  height: 40px;
  margin-right:15px;
  border-radius: 30px; 
  outline:none;
  background-color: rgb(247, 246, 246);
}

.search-button {
  width: 30px;
  height: 30px;
 padding-left: 10px;
 padding-top: 15px;
 margin-right: 15px;
}

.search_box {
  flex-grow: 2;
  margin: 1% 3%;
  display: flex;
  width: 40vh;
  border: 1px solid black;
  border-radius: 40px;
  background-color: rgb(247, 246, 246);
}

.header-text{
  padding: 10px;
}

.cart > img {
  width: 30px;
  height: 20px;
  margin-right: 15px;
  margin-left: 10px;

}

.login-link {
  background: white;
  border: 1px solid black;
  width: 75px;
  height: 40px;
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
}

.signup-link {
  background: black;
  border: 1px solid black;
  width: 76px;
  height: 40px;
  margin: 10px 3px;
  font-weight: bold;
  font-size: 0.8rem;
  
}

.link-signup {
  color: white;
}

.map1-img {
  background: white;
  border: 1px solid black;
  margin: 10px 3px;
  width: 40px;
  height: 40px;
}

.map1-img > img{
  width: 20px;
  height: 20px;
}

/* styling for the hero section */

.hero-section {
  background-image: url(images/hero-img.JPG);
  height: 90vh;
  width: 100%;
}

.hero_img { 
  height: 60vh;
  width: 100%;
}

.container1 {
  height: 60vh;
  width: 100%;
}

.container2 {
  background-color: white;
  position: absolute;
  top: 20vh;
  left: 10vh;
  width: 430px;
  height: 140px;
  font-size: 1.2rem;
  line-height: 1.25;
  padding: 20px;
}

h1 {
  font-weight: 700;
  letter-spacing: -.05rem;
}

.container3 {
  width: 30vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin: 0 auto;
  padding-top: 45px;
  font-size: 1.2rem;
  line-height: 1.8;
}

.hero-courses {
  color: black;
}

.list-courses {
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  font-weight: bolder;
  width: 62%;
  font-size: 1.1rem;
}

/* Career section  styling */

.career-section {
  width: 96%;
  height: 93vh;
  border: 1px solid gray;
  margin: 1% 2%;
  padding: 2%;
}

.career-text {
  width: 65%;
}

.career-heading{
  margin-bottom: 12px;
}

.career-link {
  width: 25vh;
  height: 2.6rem;
  border: 1px solid gray;
  color: black;
  font-size: 0.9rem;
  font-weight: bolder;
  background-color: white;
  padding: 7px 10px;
  margin-top: 20px;
}

.link-career {
color: black;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4vh;
}

.card{
  width: 19%;
  height: 47vh;
  margin: 2px;
  line-height: 1.5rem;
  
}

.star {
  width: 15px;
  height: 15px;
}

.prices {
  font-weight: bolder;
}

/* Advert section  styling */

.advert-section {
  background-color:#f3f8f7;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  font-size: 18px;
  color:rgb(44, 44, 44);
  font-weight: 600;
  width:100%;
  height: 15vh;
  padding: 2%;
  margin-top:5%;
}

.advert-class {
  display:flex;
  flex-direction:row;
  width: 52vh; 
  
}

.advert-div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  background-color: rgb(170, 165, 165);
}

 .advert-img {
  width: 20px;
  height: 20px;
  margin: 10px 10px;
 }

 /* Students section  styling */

 .students-text {
  margin-top: 12vh;
 }
 .student-spacing {
  margin-bottom: 10vh;
 }

 .cards-link {
color: black;
 }

 .bestseller {
  background-color: rgb(241, 241, 168);
  height: 25px;
  width: 70px;
  margin-top: 10px;
 }

 /* Topics section  styling */

 .topics-section {
  height: 80vh;
  padding-top: 10vh;
  background-color: #f3f8f7;
  padding-left: 2%;
  padding-right: 13%;
  line-height: 1.5rem;
}

 .topics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

.topics-heading {
  margin-bottom: 30px;
}

.div-a {
  margin-top: 30px;
}

 .topics-a {
  text-decoration: underline;
  color: blueviolet;
  font-weight: bolder;
 }

 .more-topics {
  width: 160px;
  height: 40px;
  border: 1px solid black;
  margin-top: 40px;
  color: black;
  padding-top: 7px;
 }

 /* Trust section  styling */

 .trust {
  height: 60vh;
  width: 100%;
  padding: 20vh 2%;
  line-height: 3rem;
  text-align: center;
 }

 .trust-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }

/* Business section  styling */

.business2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 70vh;
  margin-left: 20vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.div-business2 {
  display: flex;
  flex-direction: row;

}

.business-purple {
  font-size: 2rem;
  color: blueviolet;
}

.business-text2 {
  width: 45%;
  font-size: 1.2rem;
  margin: 15vh;
  margin-top: 3rem;
  line-height: 3rem;
}

.business-header2 {
  margin-bottom: 20px;
}

.business-lists {
  line-height: 2rem;
}

.business-learn {
  display: flex;
  flex-direction: row;

}

.busines-link {
  width: 30vh;
  height: 2.8rem;
  border: 1px solid black;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: black;
  padding-bottom: 10px;
  margin-top: 20px;
}

.link-b { 
  color: white;
}

.learn-link {
  width: 20vh;
  height: 2.8rem;
  border: 1px solid black;
  color: black;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: white;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 20px;
  margin-left: 5px;
}

.link-b2 {
color: black;
}


/* instructor section  styling */

.instructor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 90vh;
  margin-left: 30vh;
  margin-top: 5vh;
 white-space: 3rem;
}

.instructor-text {
  width: 45%;
  font-size: 1.4rem;
  margin: 15vh;
  line-height: 2rem;
}

.instructor-header {
  margin-bottom: 20px;
}

.business-lists {
  list-style: disc;
}

.teaching-link {
  width: 30vh;
  height: 2.8rem;
  border: 1px solid black;
  color: white;
  font-size: 1.1rem;
  font-weight: bolder;
  background-color: black;
  padding: 7px 10px;
  margin-top: 20px;
  
}

.link-t {
  
  color: white;
}

/* footer section  styling */

.footer-container {
  width: 100%%;
  height: 50vh;
  background-color: black;
  
}

.list-footer  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 30vh;
  font-size: 1rem;
  color: white;
  padding: 40px;
  padding-bottom: 0px;
  
}

ul{
  list-style: none;
  line-height: 1.5rem;
}

.footer-container a:hover,
.footer-container ul li:hover {
  text-decoration: underline;
}

.map2 {
  width: 30px;
  height: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.map-english {
  display: flex;
  flex-direction: row;
  border:  1px solid white;
  width: 150px;
  height: 40px;
  padding: 10px;
  margin-left: 150px;
  
}

.udemy-inc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 15vh;
  font-size: 1.1rem;
  padding: 40px;
  color: white;
  background-color: black;

}


